:root {
    background-color: #3a3a3a;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #3a3a3a;
    display: flex;
    position: relative;
}
.title-container{
    width: 100%;
    font-family: 'Raleway';
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.page-title {
    justify-self: center;
    margin-bottom: 2rem;
}
.video-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 5rem;
}

.quiz-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    margin-top: 5rem;
}
.question {
    background: rgba(211,211,211, 0.9);
    width: 60rem;
    height: 33.9rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Roboto';
    font-size: 2rem;
}

.question-label {
    margin-top: 6rem;
}
.buttons-container {
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}
.options {
    border-style: solid;
    text-decoration: none;
    margin: 0.9rem;
    width: 40%;
    height: 2.5rem;
    font-family: 'Roboto';
    font-size: 1rem;
    background: none;
    border-width: 0.1rem;
    border-radius: 0.4rem;
    color: #000;
    border-color: #000
}



