:root {
    background-color: #3a3a3a;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #3a3a3a;
    display: flex;
    position: relative;
}
.video-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


