:root {
    background-color: #3a3a3a;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #3a3a3a;
    display: flex;
    position: relative;
}
.video-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.quiz-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.question {
    background: rgba(211,211,211, 0.7);
    width: 50%;
    height: 25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    opacity: 100%;
}

.question-label {
    margin-top: 8rem;
    opacity: 100%;
}
.options {
    opacity: 100%;
}

